/* * {
    border: 1px solid black;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.hero-wrapper {
    background-color: #1f2937;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 225px 0;
}

.header {
    padding: 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h4 {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    align-self: flex-start;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a,
.title p,
.sign-up,
.image-placeholder {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.title {
    flex: 0 1 auto;
}

.title h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 8px;
}

.title p {
    padding: 0 0 8px;
}

.sign-up {
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 8px;
    margin: 0;
    padding: 6px 26px 6px;
}

.title-wrapper {
    padding: 100px 0 100px;
    display: flex;
    gap: 36px;
    justify-content: space-between;
}

.image-placeholder {
    background-color: #616161;
    width: 350px;
    padding: 0 50px 0;
    justify-self: flex-end;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    padding: 0 225px 0;
    margin: 50px 0 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    color: #1f2937;
    font-size: 18px;
    text-align: center;
    margin: 0 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding: 0 0 0;
    margin: 0 0 40px;
}

.info img {
    width: 160px;
    height: 140px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.info p {
    padding: 8px 0 0;
    margin: 0;
}

.quote-wrapper {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding: 0;
    margin: 125px 225px 125px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.quote-container .quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    padding: 0 36px 0 65px;
    margin: 0;
}

.quote-container .author {
    font-size: 22px;
    font-weight: 900;
    padding: 12px 0 0 0;
    margin: 0 50px 0 0;
}

.signup-wrapper {
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 0;
    margin: 125px 225px 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    margin: 55px 160px 55px 55px;
    padding: 0;
}

.call p {
    padding: 0;
    margin: 0;
}

.callto-action {
    font-size: 20px;
    font-weight: 700;
}

.sub-call {
    font-size: 14px;
}

.bordered-signup {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2.5px solid white;
    border-radius: 8px;
    margin: 0 55px 0 0;
    padding: 6px 26px 6px;   
    justify-content: end;
    flex: 0 1 auto;
}