* {
    border: 1px solid black;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero-wrapper {
    background-color: #1f2937;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 225px 0;
}

.header {
    padding: 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h4 {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    align-self: flex-start;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a,
.title p,
.sign-up,
.image-placeholder {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.title {
    flex: 0 1 auto;
}

.title h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0 0 8px;
}

.title p {
    padding: 0 0 8px;
}

.sign-up {
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 8px;
    margin: 0;
    padding: 6px 26px 6px;
}

.title-wrapper {
    padding: 100px 0 100px;
    display: flex;
    gap: 36px;
    justify-content: space-between;
}

.image-placeholder {
    background-color: #616161;
    width: 350px;
    padding: 0 50px 0;
    justify-self: flex-end;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
